html {
  min-height: 100%;
  height: 100%;
}

body {
  background: rgb(243, 254, 237);
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(234, 249, 225));
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  height: 100%;
  font-family: 'Roboto Slab', serif;
}

body > .container {
  padding-top: 30px;
  padding-bottom: 50px;
  min-height: 100%;
  height: 100%;
}

.top-menu {
  border-bottom: 1px dashed #555555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.top-menu h1 {
  text-align: left;
}

.left-menu-list li {
  margin-bottom: 10px;
}

.left-menu-list li.active {
  font-weight: 700;
}

.left-menu-list li a {
  color: inherit;
  text-decoration: underline;
  font-size: 0.9rem;
}

.content {
  border-left: 1px dashed #555555;
}

.input-search {
  font-size: 0.9rem;
  padding: 2px 4px;
  width: 100%;
  max-width: 300px;
}

.term-title {
  font-weight: 700;
}

.margin-top-30 {
  margin-top: 30px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

@media (max-width: 991px) {
  .left-menu {
    margin-bottom: 30px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
